*.retry
.ansible
.cache
.cicd-tools/boxes/*
!.cicd-tools/boxes/bootstrap
.idea
.tool-versions
poetry.lock
profile/*.retry
profile/.mac_maker
profile/collections
profile/env
profile/inventory
profile/roles
spec.json
.cicd-tools/boxes/*
!.cicd-tools/boxes/bootstrap
